{{define "body"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reset Your Password</title>
    </head>
    <body>
    <h1>Reset Your Password</h1>
    <p>Click the following link to reset your password:</p>
    <p><a href="{{.Link}}">{{.Link}}</a></p>
    <p>Online Shop</p>
    </body>
    </html>
{{end}}