{{template "base" .}}

{{define "Title"}}
    About
{{end}}

{{define "Content"}}
    <div class="container-fluid min-vh-100">
        <h1>About</h1>
        <p>This is an online shop app.</p>
    </div>
{{end}}